@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
}

.ql-editor {
    font-size: 1.05rem;

}

.post-content p {
    margin-bottom: 0.5rem;
}

.post-content h1 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
    font-weight: 600;
}

.post-content h3 {
    font-size: 1.2rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
    font-weight: 500;
}

.post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
}

.post-content a:hover {
    text-decoration: underline;
}

.ql-syntax {
    font-family: monospace;
    background-color: #2e2e2e;
    /* Dark background for code */
    color: #f5f5f5;
    /* Light text color for code */
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
    /* Allows horizontal scrolling */
    white-space: pre-wrap;
    /* Allows long lines to wrap */
    line-height: 1.5;
    margin: 20px 0;
    border: 1px solid #444;
    /* Slight border for better visibility */
}